password*
mariadb/**
*.sarif
*.csv
vendor/**
passphrase-generator-dictionary.txt
.env
cookie-passphrase.txt
keyfile.key
keyfile.pub
nginx/var/**
logs/**
.gitignore
wedding.7z
wedding.tar
releases/**
backend.dockerfile.bak
frontend/package.json
node_modules
frontend/package-lock.json
frontend/package.json
backend/logs/backend-logs.log
