password*
mariadb/**
*.sarif
*.csv
vendor/**
passphrase-generator-dictionary.txt
.env
cookie-passphrase.txt
keyfile.key
keyfile.pub
backend/logs.json
backend/logs.log
nginx/logs/access.log
nginx/logs/error.log
