password*
mariadb/**
*.sarif
*.csv
vendor/**
passphrase-generator-dictionary.txt
.env
cookie-passphrase.txt
keyfile.key
keyfile.pub
src/logs.json
src/logs.log
nginx/logs/access.log
nginx/logs/error.log
