<!DOCTYPE html>
<html>
    <head>
        <title>Form di conferma</title>
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
        </script>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <h1>Form di conferma</h1>
        <form class="guest_form" action="/guest/{{ (index . 0).UUID }}" method="post">
            <label for="guests">Numero <b>totale</b> di partecipanti:</label>
            {{ if eq (len .) 1 }}
                <input type="number" id="guests" name="guests" min="1" max="5" value="1" required>
            {{ else }}
                <input type="number" id="guests" name="guests" min="1" max="5" value="{{ len . }}" required>
            {{ end }}
            <br>
            <div class="divs">
                {{ range $key, $value := . }}
                <div id="row">
                    <button class="btn btn-danger"
                            id="DeleteRow"
                            type="button">
                        <i class="bi bi-trash"></i>
                        Cancella
                    </button>
                    {{ if eq .Confirmed true }}
                    <input type="text" name="first_name_{{ Increment $key}}" value="{{ $value.FirstName }}"/>
                    <input type="text" name="last_name_{{ Increment $key}}" value="{{ $value.LastName }}"/>
                    <input type="text" name="notes_{{ Increment $key}}" value="{{ $value.Notes }}"/>
                    <input type="hidden" name="id_{{ Increment $key}}" value="{{ $value.ID }}"/>
                    {{ else }}
                    <input type="text" name="first_name_{{ Increment $key}}" placeholder="Nome"/>
                    <input type="text" name="last_name_{{ Increment $key}}" placeholder="Cognome"/>
                    <input type="text" name="notes_{{ Increment $key}}" placeholder="Allergie/intolleranze"/>
                    <input type="hidden" name="id_{{ Increment $key}}" value="{{ $value.ID }}"/>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <button type="button" onclick="submitForm()">Conferma</button>
        </form>
    </body>
    <script>
        var min = 1;
        var max = 5;
        var oldVal = document.getElementById("guests").value;
        var form = $(".guest_form");

        function submitForm() {
            var formData = {
                guests: parseInt($("#guests").val()),
                notes: $("#notes").val(),
                people: []
            };

            $(".divs div").each(function(index) {
                var firstName = $(this).find("input[name^='first_name']").val();
                var lastName = $(this).find("input[name^='last_name']").val();
                var notesData = $(this).find("input[name^='notes']").val();
                var idString = $(this).find("input[name^='id']").val();
                var person = { first_name: firstName, last_name: lastName, notes: notesData}
                if (idString){
                    var id = parseInt(idString, 10);
                    if (!isNaN(id)) {
                        person.id = id;
                    }
                }
                formData.people.push(person);
            });

            // Convert form data to JSON
            var jsonData = JSON.stringify(formData);

            // Example of sending JSON data using jQuery AJAX
            $.ajax({
                url: form.attr("action"),
                type: "POST",
                contentType: "application/json",
                data: jsonData,
                success: function(response) {
                    // Handle success response
                },
                error: function(xhr, status, error) {
                    // Handle error response
                }
            });
        }

        $("#guests").on("change keyup paste", function() {
            var currentVal = parseInt($("#guests").val()); // Parse the value to an integer
            if(isNaN(currentVal)){ // Check if the value is not a number
                currentVal = min; // Set currentVal to min if it's NaN
            }
            if(currentVal < min || currentVal > max){
                if ($("#guests-error").length === 0) { // Check if error message does not exist
                    $("<span id='guests-error' style='color: red;'>Invalid value. Please enter a number between " + min + " and " + max + ".</span>").insertAfter("#guests");
                }
                currentVal = oldVal; // Revert to the old value if the input is invalid
            } else {
                $("#guests-error").remove(); // Remove error message if input is valid
            }
            if(currentVal == oldVal) {
                return;
            }
            if(currentVal > oldVal){
                for(i=oldVal;i<currentVal;i++){
                fieldHTML = fieldHTML = `<div id="row">
                    <button class="btn btn-danger"
                    id="DeleteRow"
                    type="button">
                    <i class="bi bi-trash"></i>
                    Cancella
                    </button>
                    <input type="text" name="first_name_'+currentVal+'" placeholder="Nome"/>
                    <input type="text" name="last_name_'+currentVal+'" placeholder="Cognome"/>
                    <input type="text" name="notes_'+currentVal+'" placeholder="Allergie/intolleranze"/>
                    </div>
                    </div>`;
                $(".divs").append(fieldHTML); // Append new divs to outer div with class "divs"
                }
            }
            if(currentVal < oldVal){
                $(".guest_form .divs div").slice(currentVal).remove();
            }
            oldVal = currentVal;
        });

        $("body").on("click", "#DeleteRow", function () {
            var row = $(this).closest("#row");
            var idInput = row.find("input[name^='id_']");
            var idValue = parseInt(idInput.val());
            console.log(idValue);
            sendDelete(idValue)
                .then(function(response) {
                    $(this).parents("#row").remove();
                    // Decrement the value of the input element with the ID "guests"
                    var guestsInput = document.getElementById("guests");
                    if (guestsInput) {
                        // Parse the value as an integer and decrement it
                        var newVal = parseInt(guestsInput.value) - 1;
                        // Make sure the new value is at least 1
                        newVal = Math.max(newVal, 1);
                        // Update the value of the input element
                        guestsInput.value = newVal;
                    }
                })
                .catch(function(error) {
                    // Handle error
                    console.error("Delete request failed:", error);
                    // Stop execution of the outer function or perform any other action as needed
                });
        });

        function sendDelete(id){
            var form = $(".guest_form");
            // Convert form data to JSON
            var jsonData = JSON.stringify({ "id": id });

            return new Promise(function(resolve, reject) {
                // Example of sending JSON data using jQuery AJAX
                $.ajax({
                    url: form.attr("action"),
                    type: "DELETE",
                    contentType: "application/json",
                    data: jsonData,
                    success: function(response) {
                        resolve(response);
                    },
                    error: function(xhr, status, error) {
                        reject(error);
                    }
                });
            });
        }
    </script>
</html>